.main-container{
    height: 87.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.register{
    /* width: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.181);
    backdrop-filter: blur(6px);
    padding: 2rem;
    border-radius: 20px;
  box-shadow: 0px 0px 10px 2px rgb(158, 157, 157); 
}
.btn{
    background-color: chocolate;
    color: white;
    font-weight: 500;
}
.btn:hover{
    background-color: rgb(24, 155, 4);
    color: white;
    scale: 1.2;
    transition: all 1s ease;
}